/* место для вашего кода */
.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    justify-items: center;
    width: 1100px;
    background-color: white;
}

.menu {
    padding-top: 85px;
}

.logo-href {
    padding-top: 93px;
}

li {
    list-style-type: circle;
}

.text-in-header-li {
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.nav-word {
    display: flex;
    width: 391.48px;
    text-align: right;
    gap: 29px;
    font-size: 18px;
    margin-left: 17px;
}

.about-header {
    padding-left: 7px;
}

.look-lots {
    padding-left: 2px;
}

.text-li-header {
    list-style-type: none;
}

.header-text-main {
    text-decoration: none;
    border: none;
}

.logo {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 137px;
    font-style: normal;
    line-height: 24.3px;
    font-size: 18px;
    margin-bottom: 4px;
    padding-top: 90px;
    text-underline-offset:4px ;
}

.cover {
    width: 1100px;
    min-height: 757px;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 92px;
}

.text-cover {
    display: grid;
    margin-top: 115px;
    width: 1000px;
}

.text-in-cover {
    font-size: 100px;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    position: relative;
    line-height: 114.99px;
}

.text-cover-left, .text-cover-center, .text-cover-right {
    display: block;
}

.text-cover-left {
    text-align: left;
    padding-left: 50px;
    padding-top: 50px;
}

.text-cover-center {
    padding-top: 21px;
    padding-left: 50px;
    text-align: center;
}

.text-cover-right {
    padding-top: 20px;
    padding-left: 665px;
    text-align: right;
}

.description {
    display: flex;
    align-items: center;
}

.description-text {
    text-transform: uppercase;
    font-size: 22px;
    word-spacing: 0.85em;
    font-weight: 400;
    color: white;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    padding:0 0 50px 49px;
}

.button-bid {
    width: 256px;
    height: 51px;
    font-size: 22px;
    background-color: inherit;
    color:white;
    border:1px solid white;
    margin-left: 107px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.lots {
   width: 1052px;
   background-color: white;
   margin: 180px auto 120px;
}

.lot-name {
    font-size: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style:bold;
}

.card {
    display: flex;
    position: relative;
    width: 334px;
    min-height: 596px;
    background-size: cover;
    background-position: center;
    list-style: none;
    margin-top: 8px;
}

.card-film {
    background-image: url(../images/card-lot-01.jpg);
}

.card-book {
    background-image: url(../images/card-lot-02.jpg);
}

.card-pictures {
    background-image: url(../images/card-lot-03.jpg);
}

.card-film, .card-book, .card-pictures {
    margin-bottom: 32px;
}

.name-card {
    position: relative;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-style: bold;
    font-weight: 700;
    color:white;
    padding-left: 40px;
    padding-top: 49px;
    text-transform: uppercase;
    width: 310px;
    text-decoration: underline;
    text-decoration-color: white;
}

.href-name-card {
    color:white;
}

.dark-lens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.649);
}

.info-in-card {
    width: 254px;
    color:white;
    font-size: 20px;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    margin:0 auto;
    padding-bottom: 49px;
    text-align: left;
    line-height: 120%;
}

.all-card {
    display: grid;
    gap:25px;
    grid-template-columns: repeat(3, 1fr);
    width: 1052px;
}

.watch-a-lot {
    font-size: 20px;
    margin-left: 39px;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: left;
    width:1052px;
    margin: auto;
}

.kryg {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    background-image: url(../images/logo-white.svg);
    background-size: 148px 114px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 33px;
    margin-left: 47px;
}

.about-zagolovok {
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 23px;
    margin-bottom: 100px;
}

.info-about {
    width: 693px;
    padding-top: 110px;
}

.text-under-zagolovok {
    display: flex;
    flex-direction: column;
    gap:25px;
}

.text-about-details, .text-about-intro {
    width: 688px;
    line-height:24px ;
    font-size:20px;
    font-weight: 400;
    font-family: 'Raleway',Arial, Helvetica, sans-serif;
}

.footer {
    display:grid;
    grid-template-columns: repeat((3, 1fr));
    width: 1100px;
    margin-top: 155px;
    justify-items: left;
}

.address-footer {
    margin-left: 50px;
    padding-top: 25px;
}

.image-in-footer {
    width: 48px;
    height: 48px;
}

.navigation-footer {
    grid-column: 2/3;
    text-align: center;
    justify-self: center;
    font-size: 18px;
    margin-top: 25px;
    margin-left: 30px;
    text-underline-offset: 5px;
}

.image-footer {
    width: 240px;
    height: 48px;
    display: flex;
    grid-column: 3/4;
    gap:48px;
    margin-left: 80px;
    margin-top: 25px;
    justify-self: center;
}

.text-in-footer-li {
    text-decoration: none;
    font-style: normal;
}

.li-main {
    list-style-type: none;
}